{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dogeforms</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <style>
    #container {
      font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
      font-size: 5vw;
    }

    .errorlist {
      margin-top: 5px;
      padding: 0;
    }

    .errorlist li {
      list-style-type: none;
      margin:0;

      color: #ff4349;

      border: solid #ff4349 1px;
      border-radius: 3px;
      padding: 3px;
    }
  </style>

  {% block styles %}{% endblock %}
</head>
<body>
  <div class="container">
    {% block container %}{% endblock %}
  </div>

  <!-- jQuery 3.1.0 -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"
          integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
          crossorigin="anonymous"></script>

  <!-- Bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

  <!-- Dogeforms -->
  <script src="{% static 'jquery.dogeforms.js' %}"></script>

  {% block script %}{% endblock %}
</body>
</html>
